/* #region compactcord */

@media (max-width: 800px) {
    [class*="sidebar_"]
    ,nav:has([data-list-id="guildsnav"])
    ,[class^="members"]
    ,[class^="toolbar__"]
    ,[class^="topic_"]
    ,[class^="divider_"]
    ,[class^="newMessagesBar_"]
    ,.expression-picker-chat-input-button
    ,#vc-notification-container
    ,[class^="pictureInPicture_"]
    ,[class^="buttons_"] > :first-child
    ,[class^="buttons_"]
    ,[class^="placeholder_"]
    ,#oneko /* I'm sorry, little one. */
    ,[class*="timestampInline_"]:has(time)
    ,.vc-platform-indicator
    ,[role="button"]:has([class^="replyLabel_"])
    {
        display: none !important;
    }

    [class^="actions_"] {
        display: flex;
        justify-content: space-between;
    }

    [class^="typingDots_"] > span {
        visibility: hidden;
    }

    [class^="typingDots_"] > span > strong:first-of-type {
        visibility: visible;
    }

    [class*="slateTextArea_"] > :first-child {
        width: 30vw;;
    }

    [class^="typing_"] {
        background-color: var(--background-primary);
        border: 1px solid var(--background-secondary);
    }

    [class^="upperContainer__"] > [class^="children__"]:has([class^="iconWrapper_"], [class^="titleWrapper_"]) {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    [class^="upperContainer__"] > :first-child {
        border: 5px solid var(--background-secondary);
        border-radius: 15px;
        padding: 5px;
    }

    [class^="attachWrapper_"], [class^="uploadInput_"] {
        position: absolute;
        right: -15px;
        z-index: 1;
    }

    [class^="drawerSizingWrapper_"] {
        height: 300px;
        bottom: 15px;
        right: 15px;
    }

    [class^="form_"] > :first-child {
        border: 5px solid var(--background-secondary);
    }
    
    [class^="form_"] {
        position: absolute;
        top: 3vh;
        width: 50vw;
        right: 15px;
        z-index: 100; /* 
        why is THIS the lowest required value to be above
        the top bar?? */
    }

    [class^="form_"]:not(:focus-within) {
        opacity: 0.5;
    }
}

/* #endregion compactcord */
