.fountain1
,.fountain2
,.fountain3
{
    background-image: url("./bgedge.png");
    top: 0px;
    position: absolute;
    width: 400px;
    height: 700px;
    aspect-ratio: 1/1.4;
    image-rendering: pixelated;
    background-repeat: repeat-y;
    animation: scroll 5s infinite linear, hueshift 10s infinite linear;
    background-size: 400px 700px;
}

.text {
    position: absolute;
    z-index: 100;
    /* move it closer to the center */
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    image-rendering: pixelated;
}

.env {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.ihatecss {
    /* put it center-bottom */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    filter: grayscale(1);
    color: #000000;
    width: 100%;
    height: 45%;
    animation: hueshift 10s infinite linear;
}


@keyframes scroll {
    0% {
        background-position: 0 0;
        mask-position: center 0;
    }
    100% {
        background-position: 0 -700px;
        mask-position: center -700px;
    }
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.filt {
    /* make a rectangle over the entire screen */
    position: absolute;
    mask: url("./mask.png");
    mask-size: 400px 700px;
    image-rendering: pixelated;
    mask-position: center;
    mask-repeat: repeat-y;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    opacity: 0.5;
    z-index: 0;
    animation: hueshift 10s infinite linear, scroll 5s infinite linear;
}

@keyframes scrollB {
    /* move background vertically and horizontally */
    0% {
        background-position: 0 0;
        mask-position: center 0;
        filter: hue-rotate(0deg);
    }
    100% {
        background-position: -400px -400px;
        mask-position: center -700px;
        filter: hue-rotate(360deg);
    }
}

@keyframes scrollC {
    /* move background vertically and horizontally */
    0% {
        background-position: 0 0;
        mask-position: center 0;
        filter: hue-rotate(0deg);
    }
    100% {
        background-position: -400px -400px;
        mask-position: center 700px;
        filter: hue-rotate(360deg);
    }
}

/* if the device is a mobile phone, or if the screen is less than 1200px wide */
@media screen and (max-width: 1200px) {
    .env, .ihatecss, .text {
        display: none;
    }
    .fountain1, .fountain2, .fountain3, .filt, .bg, .inverted, .fountainContainer {
        height: 100% !important;
    }
    body {
        overflow: hidden;
    }
}

.fountain2 {
    animation: 
        scroll 5s infinite linear, 
        fountainMoveReverse 4s infinite linear,
        hueshift 10s infinite linear;
}

.fountain3 {
    animation: 
        scroll 5s infinite linear, 
        fountainMove 4s infinite linear,
        hueshift 10s infinite linear;
}

@keyframes fountainMove {
    /* slide to the left 50px over 2 seconds, then slide back. use translate */
    0% {
        transform: translate(0px, 0px);
    }
    5% {
        transform: translate(-0px, 0px);
    }
    50% {
        transform: translate(-25px, 0px);
    }
    55% {
        transform: translate(-25px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes fountainMoveReverse {
    /* slide to the left 50px over 2 seconds, then slide back. use translate */
    0% {
        transform: translate(0px, 0px);
    }
    5% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(25px, 0px);
    }
    55% {
        transform: translate(25px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.bg {
    position: absolute;
    top: 0;
    mask-image: url("./mask.png");
    image-rendering: pixelated;
    background-image: url("./bg.png");
    background-size: 400px 400px;
    mask-size: 400px 700px;
    mask-repeat: repeat-y;
    width: 400px;
    height: 700px;
    animation: scroll 5s infinite linear, scrollB 5s infinite linear;
    z-index: -50;
}

.inverted {
    animation: scrollC 5s infinite linear reverse;
    opacity: 0.5;
    z-index: -49;
}

.fountainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #000000;
    overflow-y: hidden;
}