.fountain1
,.fountain2
,.fountain3
{
    background-image: url("./bgedge.png");
    top: 0px;
    position: absolute;
    width: 400px;
    height: 2600px;
    aspect-ratio: 1/1.4;
    image-rendering: pixelated;
    background-repeat: repeat-y;
    animation: scroll 5s infinite linear;
    background-size: 400px 700px;
}


@keyframes scroll {
    0% {
        background-position: 0 0;
        mask-position: center 0;
    }
    100% {
        background-position: 0 -700px;
        mask-position: center -700px;
    }
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.filt {
    /* make a rectangle over the entire screen */
    position: absolute;
    mask: url("./mask.png");
    mask-size: 400px 700px;
    image-rendering: pixelated;
    mask-position: center;
    mask-repeat: repeat-y;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: hueshift 10s infinite linear, scroll 5s infinite linear;
}

@keyframes scrollB {
    /* move background vertically and horizontally */
    0% {
        background-position: 0 0;
        mask-position: 0 0;
        filter: hue-rotate(0deg);
    }
    100% {
        background-position: -400px -400px;
        mask-position: 0 -700px;
        filter: hue-rotate(360deg);
    }
}

.fountain2 {
    animation: 
        scroll 5s infinite linear, 
        fountainMoveReverse 4s infinite linear,
        hueshift 10s infinite linear;
}

.fountain3 {
    animation: 
        scroll 5s infinite linear, 
        fountainMove 4s infinite linear,
        hueshift 10s infinite linear;
}

@keyframes fountainMove {
    /* slide to the left 50px over 2 seconds, then slide back. use translate */
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-25px, 0px);
    }
    50% {
        transform: translate(-25px, 0px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes fountainMoveReverse {
    /* slide to the left 50px over 2 seconds, then slide back. use translate */
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(25px, 0px);
    }
    50% {
        transform: translate(25px, 0px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.bg {
    position: relative;
    mask-image: url("./mask.png");
    image-rendering: pixelated;
    background-image: url("./bg.png");
    background-size: 400px 400px;
    mask-size: 400px 700px;
    width: 400px;
    height: 2600px;
    aspect-ratio: 1/1.4;
    animation: scroll 5s infinite linear, scrollB 5s infinite linear;
    z-index: -1;
}

.fountainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #000000;
    overflow-y: hidden;
}